body{
  font-family: "Lato";
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.input{
  padding: 4px;
  border-radius: 5px;
  border: 1px solid #333;
  background-color: #fff;
  width: 340px;
}